---
import LandingFooter from "@/components/LandingFooter.astro";
import LandingHeader from "@/components/LandingHeader.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <LandingHeader />
  <section>
    <h1 class="text-4xl text-center">
      Oops. Lo que estás buscando no está disponible aquí
    </h1>
  </section>
  <LandingFooter />
</Layout>
