<section class="px-6 py-20 flex flex-row justify-around items-center w-full">
  <div class="w-170 flex flex-col gap-4">
    <h1 class="text-4xl font-bold">Dra. Tania Valverde</h1>
    <h2 class="text-xl font-bold">
      Especialista en Radiología Mamaria | Diagnóstico Preciso, Cuidado
      Compasivo
    </h2>
    <p class="text-lg">
      Bienvenida a mi espacio dedicado a la salud y prevención del cáncer de
      mama. Soy la Dra. Tania Garcia Valverde, radióloga mamaria certificada con
      más de 5 años de experiencia en diagnóstico por imagen, enfocada en la
      detección temprana, evaluación de anomalías y seguimiento personalizado de
      pacientes.
    </p>
  </div>
  <img
    class="w-50 md:w-100 object-cover mask-fade-bottom"
    src="/images/tania.webp"
    alt="Foto de la doctora Tania garcia Valverde"
  />
</section>
