<footer
  class="bg-[var(--color-dark)] gray-800 text-[var(--color-light)] py-4 px-6 flex flex-row justify-between items-center"
>
  <p>© 2025 Tania Valverde</p>
  <p class="flex flex-row">
    Desarrollado por <img
      class="h-6 w-6"
      src="/images/logo-jpm.webp"
      alt="Logo de la marca personal de Javier Piqueras"
    />
    <a
      href="https://javierpiqueras.com"
      target="_blank"
      class="text-(--color-primary) underline"
    >
      Javier Piqueras Martínez</a
    >
  </p>
</footer>
