<header
  class="bg-[var(--color-primary)] px-6 py-2 w-full flex flex-row justify-between items-center"
>
  <img class="size-14" src="/favicon.svg" alt="Logo de Tania Valverde" />
  <ul class="flex flex-row items-center gap-4">
    <li>Inicio</li>
    <li>Sobre mí</li>
    <li>Casos</li>
    <li>Contacto</li>
  </ul>
</header>
